version: "3.9"

x-common-networks: &common-networks
  networks:
    - telepy-network

x-common-restart: &common-restart
  restart: always

services:

  traefik:
    <<: [*common-networks, *common-restart]
    image: traefik:v3.0.1
    container_name: telepy-traefik-${PROJECT_NAME}
    command:
      - "--configFile=/etc/traefik/traefik.yml"
    volumes:
      - ./traefik/traefik.yml:/etc/traefik/traefik.yml:ro
      - ./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro
    ports:
      - "${WEB_SERVER_PORT}:80"

  frontend:
    <<: [*common-networks, *common-restart]
    container_name: telepy-nginx-${PROJECT_NAME}
    image: nginx:latest
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
      - ./src/frontend:/src

  backend:
    <<: [*common-networks, *common-restart]
    build:
      context: .
      dockerfile: ./Dockerfile
    image: telepy-web
    hostname: telepy-web-${PROJECT_NAME}
    container_name: telepy-web-${PROJECT_NAME}
    environment:
      - DEBUG=${DEBUG}
      - REVERSE_SERVER_SSH_PORT=${REVERSE_SERVER_SSH_PORT}
      - WEB_SERVER_PORT=${WEB_SERVER_PORT}
      - SOCIAL_GOOGLE_CLIENT_ID=${SOCIAL_GOOGLE_CLIENT_ID}
      - SERVER_DOMAIN=${SERVER_DOMAIN}

    volumes: 
      # Source code
      - ./src:/src
      - ./scripts:/scripts # for custom scripts
      - ./supervisord.conf:/etc/supervisor/conf.d/supervisord.conf:rw
      # Logging
      - ./telepy-logs/backend:/logs
      - ./telepy-logs/ssh:/ssh-logs
      - ./telepy-logs/supervisord:/supervisord-log
      # Mutable data
      - ./telepy-data/staticfiles:/src/staticfiles # Pre-rendered file caches.
      - ./telepy-data/supervisord:/data/supervisord
      - ./telepy-data/backend:/src/backend-data
      # SSH
      - ./ssh/root_ssh_key:/ssh # for reading authorized_keys
      - ./ssh/backend_ssh_key:/root/.ssh # for ssh connection to ssh container
    depends_on:
      - redis
      - ssh

  redis:
    <<: [*common-networks, *common-restart]
    image: redis:alpine
    hostname: telepy-redis-${PROJECT_NAME}
    container_name: telepy-redis-${PROJECT_NAME}

  ssh:
    <<: [*common-networks, *common-restart]
    image: lscr.io/linuxserver/openssh-server
    container_name: telepy-ssh-${PROJECT_NAME}
    hostname: telepy-ssh-${PROJECT_NAME}
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Taipei
      - SUDO_ACCESS=true
      - USER_NAME=telepy
      - WORK_DIR=/config
    volumes:
      - ./telepy-logs/ssh:/config/logs
      - ./ssh/root_ssh_key:/config/.ssh
      - ./ssh/ssh_host_keys:/config/ssh_host_keys
      - ./ssh/custom_scripts/custom-cont-init.d:/custom-cont-init.d
      - ./ssh/custom_scripts/custom-services.d:/custom-services.d
    ports:
      - ${REVERSE_SERVER_SSH_PORT}:2222 # for SSH connections, REVERSE_SERVER_SSH_PORT
    depends_on:
      - redis

networks:
  telepy-network:
    name: telepy-network-${PROJECT_NAME}