{% extends 'base.html' %}

{% block title %}Create Reverse Tunnels{% endblock %}

{% block content %}
<div class="mx-5">
  <h2>Manual Create Reverse Tunnels</h2>
  <div class="form-row mt-3">
    <div class="col">
      <input type="text" class="form-control" id="hostname" placeholder="Hostname">
      <small id="hostnameHelp" class="form-text text-muted">Enter the customized name of your server.</small>
    </div>
    <div class="col">
      <input type="text" class="form-control" id="key" placeholder="Enter SSH Key" data-toggle="tooltip" data-placement="right" title="Invalid SSH Key">
      <small id="keyHelp" class="form-text text-muted">Paste your public SSH key here.</small>
    </div>
    <div class="col">
      <input type="text" class="form-control" id="sshPort" placeholder="Enter SSH Port" value="22" data-toggle="tooltip" data-placement="right" title="Invalid Port Number">
      <small id="portHelp" class="form-text text-muted">Enter your server's SSH port. Default is 22.</small>
    </div>
    <div class="col">
      <input type="text" class="form-control" id="token" name="token" placeholder="Token will appear here" readonly>
      <small id="tokenHelp" class="form-text text-muted">This token is required to create a tunnel. If you use <code>curl</code>, you can use the token as a query parameter.</small>
    </div>
  </div>

  <button class="btn btn-outline-success mt-3" onclick="createTunnel()">Create Tunnel</button>

  <div id="connectionDetails" class="mt-4">
    <h4>Connection Details</h4>
    <p class="text-muted">Use the command below to establish a secure tunnel between your server and the reverse proxy.</p>

    <!-- Tab navigation -->
    <ul class="nav nav-tabs" id="osTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="tab-link active " id="linux-tab" data-bs-toggle="tab" data-bs-target="#linux" type="button" role="tab" aria-controls="linux" aria-selected="true">Linux</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="tab-link" id="windows-tab" data-bs-toggle="tab" data-bs-target="#windows" type="button" role="tab" aria-controls="windows" aria-selected="false">Windows</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="tab-link" id="docker-tab" data-bs-toggle="tab" data-bs-target="#docker" type="button" role="tab" aria-controls="docker" aria-selected="false">Docker</button>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="osTabContent">
      <div class="tab-pane fade show active" id="linux" role="tabpanel" aria-labelledby="linux-tab">
        <p class="text-muted">If you want to use private keys to login, you need to add public keys in <code>~/.ssh/authorized_keys</code> in your target server.</p>
        <p id="linuxConnectionHint" class="text-muted"></p>
        <pre id="tunnelCommandLinux" class="form-control mt-2">Click "Create Tunnel" to generate the command.</pre>
        <button class="btn btn-outline-info mt-2" id="linuxCopyTunnelCommandBtn" disabled onclick="copyCommandToClipboard('tunnelCommandLinux')">Copy</button>
      </div>
      <div class="tab-pane fade" id="windows" role="tabpanel" aria-labelledby="windows-tab">
        <p class="text-muted">If you want to use private keys to login, you need to touch a file and add public keys in <code>%PROGRAMDATA%/ssh/administrators_authorized_keys</code> in your target server. Click <a href="https://github.com/NatLee/telepy/issues/9" target="_blank">here</a> to meet details.</p>
        <p id="windowsConnectionHint" class="text-muted"></p>
        <pre id="tunnelCommandWindows" class="form-control mt-2">Click "Create Tunnel" to generate the command.</pre>
        <button class="btn btn-outline-info mt-2" id="windowsCopyTunnelCommandBtn" disabled onclick="copyCommandToClipboard('tunnelCommandWindows')">Copy</button>
      </div>
      <div class="tab-pane fade" id="docker" role="tabpanel" aria-labelledby="docker-tab">
        <p id="dockerConnectionHint" class="text-muted">Coming Soon.</p>
        <pre id="tunnelCommandDocker" class="form-control mt-2">Click "Create Tunnel" to generate the command.</pre>
        <button class="btn btn-outline-info mt-2" id="dockerCopyTunnelCommandBtn" disabled onclick="copyCommandToClipboard('tunnelCommandDocker')">Copy</button>
      </div>
    </div>
  </div>

  <div id="keyDetails" class="mt-4">
    <h4>Key Details</h4>
    <p class="text-muted">Add the following keys to your server's <code>~/.ssh/authorized_keys</code> file to allow secure connections.</p>

    <!-- Tab navigation -->
    <ul class="nav nav-tabs" id="keyTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="tab-link active" id="userKeyTab" data-bs-toggle="tab" data-bs-target="#userKeyContent" type="button" role="tab" aria-controls="user-key" aria-selected="true">User Keys</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="tab-link" id="serviceKeyTab" data-bs-toggle="tab" data-bs-target="#serviceKeyContent" type="button" role="tab" aria-controls="service-key" aria-selected="false">Service Keys</button>
      </li>
    </ul>

    <!-- Tab Content -->
    <div class="tab-content" id="keyTabContent">
      <div class="tab-pane fade show active" id="userKeyContent" role="tabpanel" aria-labelledby="user-key-tab">
        <p class="text-muted">User keys are used to create tunnels for your personal use. You can edit them in <code>Keys</code> page.</p>
        <div id="userKeys" class="mt-2"></div>
      </div>
      <div class="tab-pane fade" id="serviceKeyContent" role="tabpanel" aria-labelledby="service-key-tab">
        <p class="text-muted">Service keys are used to create tunnels for web terminal and other services.</p>
        <div id="serviceKeys" class="mt-2"></div>
      </div>
    </div>
  </div>

</div>



<!-- Key Modal -->
<div class="modal fade" id="keyModal" tabindex="-1" aria-labelledby="keyModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="keyModalLabel">Key Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea id="modalKeyContent" class="form-control" rows="5" readonly></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="copyKeyToClipboard()">Copy</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
  
  
{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/create.js' %}"></script>
{% endblock %}
