{% extends 'base.html' %}

{% block title %}Logs{% endblock %}

{% block content %}
<div class="mx-5">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <div class="d-flex align-items-center">
            <h2>SSH Server Logs</h2>
            <div class="websocket-status status ml-2" id="websocket-status"></div>
        </div>
        <div>
            <button class="btn btn-secondary" id="refresh" onclick="refreshLogs()">Refresh</button>
        </div>
    </div>
    <div class="table-responsive" style="height: 400px; overflow-y: scroll;">
        <table class="table sticky-header">
            <thead>
                <tr>
                    <th scope="col">Timestamp</th>
                    <th scope="col">Message</th>
                </tr>
            </thead>
            <tbody id="logContent">
                <!-- Log entries will be inserted here -->
            </tbody>
        </table>
    </div>
</div>


{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/logs.js' %}"></script>
{% endblock %}
