{% extends 'base.html' %}

{% block title %}Tunnels{% endblock %}

{% block content %}
<div class="mx-5">
   <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
         <h2>Tunnels</h2>
         <div class="websocket-status status ml-2" id="websocket-status"></div>
      </div>
      <div>
         <button class="btn btn-secondary" id="newTunnels" onclick="window.location.href='/tunnels/create'">+</button>
         <button class="btn btn-secondary" id="refresh" onclick="fetchAndDisplayReverseServerKeys()">Refresh</button>
      </div>   
   </div>
   <!-- Info of this section -->
   <div class="alert-info p-1 mb-3">
      <p>
        <strong>INFO</strong> 
        This section allows you to manage the reverse tunnels which can reversely connect to this SSH server by using the <strong>private key</strong>.
         You can create or delete tunnels' <strong>public key</strong> and manage the users existing on the target server.
      </p>
   </div>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Hostname</th>
               <th scope="col">Reverse Port</th>
               <th scope="col">Public Key on Sever</th>
               <th scope="col">Status</th>
               <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody id="tunnelsTableBody">
         </tbody>
      </table>
   </div>
</div>


<!-- Config Modal -->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="configModalLabel">Reverse Server Configuration</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <!-- Config will be inserted here -->
         <textarea id="configContent" class="form-control" style="height: 300px" readonly></textarea>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" onclick="copyConfigToClipboard()">Copy</button>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 

<!-- Manage Users Modal -->
<div class="modal fade" id="manageUsersModal" tabindex="-1" aria-labelledby="manageUsersModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="manageUsersModalLabel">Manage Users</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div id="userList"></div>
         <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Username" id="newUsername">
            <!-- The addUserButton will be appended here dynamically -->
            <div id="addUserButtonContainer"></div>
         </div>
       </div>
     </div>
   </div>
 </div>


{% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/tunnels.js' %}"></script>
{% endblock %}
