{% extends 'base.html' %}

{% block title %}Tunnels{% endblock %}

{% block content %}
<div class="mx-5">
   <div class="d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
         <h2>Tunnels</h2>
         <div class="websocket-status status ml-2" id="websocket-status"></div>
      </div>
      <div>
         <button class="btn btn-secondary" id="newTunnels" onclick="window.location.href='/tunnels/create'">+</button>
         <button class="btn btn-secondary" id="refresh" onclick="fetchAndDisplayReverseServerKeys()">Refresh</button>
      </div>   
   </div>
   <!-- Info of this section -->
   <div class="alert-info p-1 mb-3">
      <p>
        <strong>INFO</strong> 
        This section allows you to manage the reverse tunnels which can reversely connect to this SSH server by using the <strong>private key</strong>.
         You can create or delete tunnels' <strong>public key</strong> and manage the users existing on the target server.
      </p>
   </div>
   <div class="table-responsive">
      <table class="table">
         <thead>
            <tr>
               <th scope="col">Host</th>
               <th scope="col">Reverse Port</th>
               <th scope="col">Status</th>
               <th scope="col">Actions</th>
            </tr>
         </thead>
         <tbody id="tunnelsTableBody">
         </tbody>
      </table>
   </div>
</div>


<!-- Config Modal -->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="configModalLabel">Reverse Server Configuration</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <!-- Config will be inserted here -->
         <textarea id="configContent" class="form-control" style="height: 300px" readonly></textarea>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-primary" onclick="copyConfigToClipboard()">Copy</button>
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
 </div>
 
<!-- Server Script Modal -->
<div class="modal fade" id="serverScriptModal" tabindex="-1" aria-labelledby="serverScriptModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-dialog-scrollable modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="serverScriptModalLabel">Reverse Server Tunnel Script</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <!-- SSH port -->
         <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Target Server SSH Port</span>
            <input type="text" class="form-control" id="sshPort" placeholder="Enter SSH Port" value="22" data-toggle="tooltip" data-placement="right" title="Invalid Port Number">
         </div>
         
         <!-- Nav tabs -->
         <ul class="nav nav-tabs" id="osTab">
           <li class="nav-item">
             <button class="tab-link active" id="ssh-tab" data-bs-toggle="tab" data-bs-target="#ssh" aria-controls="ssh" aria-selected="true">SSH</button>
           </li>
           <li class="nav-item">
            <button class="tab-link" id="ssh-service-tab" data-bs-toggle="tab" data-bs-target="#ssh-service" aria-controls="ssh-service" aria-selected="true">SSH Service</button>
           </li>
           <li class="nav-item">
             <button class="tab-link" id="powershell-tab" data-bs-toggle="tab" data-bs-target="#powershell" aria-controls="powershell" aria-selected="false">Powershell</button>
           </li>
           <li class="nav-item">
             <button class="tab-link" id="docker-tab" data-bs-toggle="tab" data-bs-target="#docker" aria-controls="docker" aria-selected="false">Docker</button>
           </li>
         </ul>
         
         <!-- Tab content -->
         <div class="tab-content" id="osTabContent">
            <!-- SSH -->
            <div class="tab-pane fade show active" id="ssh" aria-labelledby="ssh-tab">
               <!-- SSH tab content -->
               <p class="text-muted">If you want to use private keys to login, you need to add public keys in <code>~/.ssh/authorized_keys</code> in your target server.</p>
               <pre id="tunnelCommandSSH" class="form-control" style="height: 350px" readonly></pre>
            </div>
            <!-- SSH Service -->
            <div class="tab-pane fade" id="ssh-service" aria-labelledby="ssh-service-tab">
              <!-- SSH Service tab content -->
              <p class="text-muted">If you want to use private keys to login, you need to add public keys in <code>~/.ssh/authorized_keys</code> in your target server.</p>
              <p class="text-muted alert-info">You can replace <code>User</code> field with your own username in the command.</p>
              <p class="text-muted">Paste the following script in <code>/etc/systemd/system/autossh.service</code> .</p>
              <pre id="tunnelCommandSSHService" class="form-control" style="height: 400px" readonly></pre>
              <p class="text-muted">After adding the service file, run the following commands to enable and start the service.</p>
              <pre id="tunnelCommandSSHServiceSteps" class="form-control" style="height: 100px" readonly></pre>
            </div>
            <!-- Powershell -->
            <div class="tab-pane fade" id="powershell" aria-labelledby="powershell-tab">
               <!-- Powershell tab content -->
               <p class="text-muted">If you want to use private keys to login, you need to touch a file and add public keys in <code>%PROGRAMDATA%/ssh/administrators_authorized_keys</code> in your target server. Click <a href="https://github.com/NatLee/telepy/issues/9" target="_blank">here</a> to meet details.</p>
               <pre id="tunnelCommandPowershell" class="form-control" style="height: 700px" readonly></pre>
            </div>
            <!-- Docker -->
            <div class="tab-pane fade" id="docker" aria-labelledby="docker-tab">
               <!-- Docker tab content -->
               <p id="dockerConnectionHint" class="text-muted">Coming Soon.</p>
               <pre id="tunnelCommandDocker" class="form-control" style="height: 400px" readonly></pre>
            </div>
         </div>
       </div>
       <div class="modal-footer">
         <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
</div>

<!-- Manage Users Modal -->
<div class="modal fade" id="manageUsersModal" tabindex="-1" aria-labelledby="manageUsersModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title" id="manageUsersModalLabel">Manage Users</h5>
         <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
       </div>
       <div class="modal-body">
         <div id="userList"></div>
         <div class="input-group mb-3 mt-3">
            <input type="text" class="form-control" placeholder="Username" id="newUsername">
            <!-- The addUserButton will be appended here dynamically -->
            <div id="addUserButtonContainer"></div>
         </div>
       </div>
     </div>
   </div>
 </div>


<!-- Tunnel Details Modal -->
<div class="modal fade" id="tunnelDetailsModal" tabindex="-1" aria-labelledby="tunnelDetailsModal" aria-hidden="true" onhidden.bs.modal="resetTunnelDetailsModalState()">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tunnelDetailsModalLabel">Tunnel Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="keyDetailsModalBody">
        <!-- Tunnel ID-->
        <h6 class="text-secondary">Tunnel ID</h6>
        <p id="tunnelId" class="fw-bold mb-3">Placeholder for Tunnel ID</p>

        <!-- Host Name -->
        <h6 class="text-secondary">Host</h6>
        <p id="tunnelHostFriendlyName" class="fw-bold mb-3">Placeholder for Host Name</p>
        
        <!-- Public Key in Endpoint -->
        <h6 class="text-secondary">Public Key</h6>
        <textarea id="tunnelKeyTextArea" class="form-control mb-3" rows="12" readonly style="font-family: monospace;"></textarea>
        
        <!-- Description -->
        <h6 class="text-secondary">Description</h6>
        <textarea id="tunnelDescriptionText" class="form-control mb-3" rows="3" oninput="checkTunnelDetailsModalForChanges()"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" onclick="copyTunnelPublicKeyToClipboard()">Copy Key</button>
        <button type="button" class="btn btn-outline-success" onclick="saveDescription()">Save Description</button>
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



 {% endblock %}

{% block scripts %}
{% load static %}
<script src="{% static 'js/tunnels.js' %}"></script>
{% endblock %}
