{% extends 'login-base.html' %}

{% block title %}Telepy{% endblock %}

{% block styles %}
<style>
  body {
    display: flex;
    justify-content: center; /* Aligns horizontally */
    align-items: center; /* Aligns vertically */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradientBG 15s ease infinite;
  }
</style>
{% endblock %}

{% block body %}
<body>
  <div class="login-container">
     <h2 class="login-title">Telepy</h2>

    <form id="loginForm">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" required>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" required>
      </div>
      <div class="d-grid">
        <button type="submit" class="btn btn-primary">Login</button>
      </div>
    </form>

    {% if social_google_client_id %}
    <div class="text-center mt-3">
      <p class="mb-0">- Or you can login with -</p>
      <div class="d-flex justify-content-center">
        <!-- Google login button -->
        <div class="mt-3">

            <div id="g_id_onload"
            data-client_id="376808175534-d6mefo6b1kqih3grjjose2euree2g3cs.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="get_jwt_using_google_credential"
            data-auto_select="false"
            data-itp_support="false"
            data-auto_prompt="false">
        </div>
        
        <div class="g_id_signin"
            data-type="standard"
            data-shape="pill"
            data-theme="filled_black"
            data-text="signin_with"
            data-size="large"
            data-logo_alignment="left">
        </div>

      </div>
      <!-- ========== -->
    </div>
    {% endif %}

    <p class="text-center text-danger mt-3" id="loginError"></p>

  </div>
</body>
{% endblock %}

{% block scripts %}
<script>

  // Function to get JWT using Google credential
  function get_jwt_using_google_credential(data) {
    const credential = data.credential;
    $.ajax({
        method: "POST",
        url: "/api/auth/google/token",
        data: { credential: credential }
    }).done(function (data) {
        console.log(data);
        const access_token = data.access;
        const refresh_token = data.refresh_token;
        localStorage.setItem('accessToken', access_token);
        localStorage.setItem('refreshToken', refresh_token);
        console.log('Google Login');
        $.ajax({
            type: "POST",
            url: "/api/auth/token/verify",
            data: {"token":access_token},
            headers: {
                "Authorization": "Bearer" + " " + access_token
            },
            success: function (data) {
              console.log('Google Login Success');
              //window.location.href = '/tunnels/index';
            },
            error: function (data) {
                // Get `loginError` element and set the text to `login failed ${data}
                $("#loginError").text(`Login failed ${data}`).css('color', 'red');
            }
        });
    });
  }

  // Function to attach the event to the login form
  function attachLoginFormEvent() {
      document.getElementById('loginForm').addEventListener('submit', function(event) {
          event.preventDefault();

          const username = document.getElementById('username').value;
          const password = document.getElementById('password').value;
          
          const payload = {
            username: username,
            password: password
          };
          
          fetch('/api/auth/token', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(payload)
          })
          .then(response => {
            if (!response.ok) {
                throw new Error('Login failed');
            }
            return response.json();
          })
          .then(data => {
              // Store the JWT in localStorage
              localStorage.setItem('accessToken', data.access_token);
              localStorage.setItem('refreshToken', data.refresh_token);
          
              // Redirect to index
              window.location.href = '/tunnels/index';
          })
          .catch(error => {
              // Use SweetAlert to show the error
              Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Login failed, please try again.',
              })
          });
      });
  }
  attachLoginFormEvent();
</script>
{% endblock %}